@import '../../theme';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  background: $surfaceSecondary;
}

.top {
  height: 30%;
  width: 100%;
  position: relative;

  img {
    height: 128px;
    width: 128px;
    pointer-events: none;
    border-radius: 50%;
    border: solid 15px $surface;
    position: absolute;
    bottom: -71.5px;
    left: calc(50% - 71.5px);
  }

  i {
    font-size: 24px;
    color: $textRed;
    opacity: .99;
    transition: color .3s;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: $textRedHover;
    }
  }
}

.bottom {
  @include background('shape.svg', $surface, bottom, left, cover);
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  height: 70%;
  width: 100%;
  padding: 60px 0 60px 0;

  h2 {
    font-size: 24px;
    color: $heading;
    font-weight: 500;
    opacity: .99;
    margin: 30px 0 5px 0;
  }

  p {
    font-size: 16px;
    color: $textDark;
    opacity: .99;
    margin-bottom: 60px;
  }

  span {
    font-size: 16px;
    color: $textOrange;
    opacity: .99;
  }
}
