@import './theme';

.navigation {
  width: 70px;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  gap: 5px;
  padding: 20px 0;
  background: $surfaceSecondary;
}

.separator {
  height: 2px;
  background: $surfaceQuartiary;
  width: 50%;
  margin: 5px 0;
}

%item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background: $surfaceTertiary;

    i {
      color: $text;
    }
  }

  &:active {
    background: $surfaceQuartiary;

    i {
      color: $heading;
    }
  }

  i {
    font-size: 24px;
    opacity: .99;
    transition: .3s;
  }
}

.item {
  @extend %item;

  i {
    color: $textDark;
  }
}

.activeItem {
  @extend %item;
  background: $surfaceQuartiary;

  i {
    color: $heading;
  }
}

// new server

.addNewServer {
  h1 {
    font-size: 32px;
    font-weight: 600;
    color: $heading;
    opacity: .99;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .specialRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    label:nth-child(1) {
      flex: 1;
    }

    label:nth-child(2) {
      width: 60px !important;
      
      input {
        text-align: center;
        cursor: not-allowed !important;
        border-color: $surfaceQuartiary !important;
      }
    }
  }

  label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: $textDarker;
    opacity: .99;
    margin-bottom: 15px;
    width: calc(100% - 7.5px);

    b {
      text-transform: uppercase;
      font-weight: 500;
    }

    .inputError {
      color: $textRed;
      text-transform: none;
      font-weight: 400;
    }

    input {
      background: $surfaceDark;
      border: solid 2px $surfaceQuartiary;
      border-radius: 5px;
      padding: 3px 10px;
      margin-top: 5px;
      font-size: 14px;
      color: $text;
      opacity: .99;
      width: calc(100% - 24px);
      transition: .3s;

      &:focus {
        border-color: $overlaySecondary;
      }

      &::placeholder {
        color: $textDarker;
      }
    }
  }
}