@import './theme';

.outerNavigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 10px;
  height: 40px;
  z-index: 99;
}

.action {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background: $surfaceQuartiary;

    i {
      color: $text;
    }
  }

  &:active {
    background: $overlay;

    i {
      color: $heading;
    }
  }

  &:nth-last-child(1) {
    i {
      font-size: 24px;
    }

    &:hover i, &:active i {
      color: $textRedHover;
    }
  }

  i {
    font-size: 20px;
    color: $textDark;
    transition: .3s;
  }
}