@import './theme';

%overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999998;
}

.overlay {
  @extend %overlay;
  display: none;
}

.overlayActive {
  @extend %overlay;
  display: block;
}

%popup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: .2s ease-in-out;
  z-index: 999999;
  width: calc(28.125rem - 3.75rem);
  height: auto;
  max-width: 80%;
  background: $surfaceSecondary;
  border-radius: 1rem;
  padding: 1.875rem;
}

.popup {
  @extend %popup;
  transform: translate(-50%, -50%) scale(0);
}

.popupActive {
  @extend %popup;
  transform: translate(-50%, -50%) scale(1);
}

.icon {
  position: absolute;
  z-index: 999999;
  top: 0.9375rem;
  right: 0.9375rem;
  font-size: $_largerText;
  color: $textDark;
  opacity: .99;
  transition: .3s;
  cursor: pointer;

  &:hover {
    color: $text;
  }
}