$distance: 6.25rem !default;

// fade

@mixin fade($transform) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-out, transform .4s ease-out;
  transform: $transform;

  &.isVisible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

.fadeUp {
  @include fade(translate3d(0, $distance, 0));
}

.fadeDown {
  @include fade(translate3d(0, -$distance, 0));
}

.fadeRight {
  @include fade(translate3d(-$distance, 0, 0));
}

.fadeLeft {
  @include fade(translate3d($distance, 0, 0));
}

.fadeUpRight {
  @include fade(translate3d(-$distance, $distance, 0));
}

.fadeUpLeft {
  @include fade(translate3d($distance, $distance, 0));
}

.fadeDownRight {
  @include fade(translate3d(-$distance, -$distance, 0));
}

.fadeDownLeft {
  @include fade(translate3d($distance, -$distance, 0));
}

// zoom

@mixin zoom($transform) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-out, transform .4s ease-out;
  transform: $transform;

  &.isVisible {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.zoomIn {
  @include zoom(scale(.6));
}

.zoomInUp {
  @include zoom(translate3d(0, $distance, 0) scale(.6));
}

.zoomInDown {
  @include zoom(translate3d(0, -$distance, 0) scale(.6));
}

.zoomInRight {
  @include zoom(translate3d(-$distance, 0, 0) scale(.6));
}

.zoomInLeft {
  @include zoom(translate3d($distance, 0, 0) scale(.6));
}

.zoomOut {
  @include zoom(scale(1.2));
}

.zoomOutUp {
  @include zoom(translate3d(0, $distance, 0) scale(1.2));
}

.zoomOutDown {
  @include zoom(translate3d(0, -$distance, 0) scale(1.2));
}

.zoomOutRight {
  @include zoom(translate3d(-$distance, 0, 0) scale(1.2));
}

.zoomOutLeft {
  @include zoom(translate3d($distance, 0, 0) scale(1.2));
}

// flip

@mixin flip($transformWhenHidden, $transformWhenVisible) {
  visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease-out;
  transform: $transformWhenHidden;

  &.isVisible {
    transform: $transformWhenVisible;
    visibility: visible;
  }
}

.flipLeft {
  @include flip(perspective(156.25rem) rotateY(-100deg), perspective(156.25rem) rotateY(0));
}

.flipRight {
  @include flip(perspective(156.25rem) rotateY(100deg), perspective(156.25rem) rotateY(0));
}

.flipUp {
  @include flip(perspective(156.25rem) rotateX(-100deg), perspective(156.25rem) rotateX(0));
}

.flipDown {
  @include flip(perspective(156.25rem) rotateX(100deg), perspective(156.25rem) rotateX(0));
}
